*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 812px;
    height: auto;
    margin: 20px auto;
    background-color: blue;
}

section label{
    width: 200px;
    padding: 20px 0;
    margin: 10px auto;
    display: inline-block;
    background-color: #191919;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

input{
    display: none;
}

input:checked + label{
    background-color: green;
}

#galeria{
    display: inline-block;
    justify-content: space-between;
    margin: 0 auto;
}

#galeria img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0px;
    transition: all 0.4;
    object-fit: cover;
}

#bt_chapeu:checked ~ #galeria .camisa,
#bt_chapeu:checked ~ #galeria .bota{
    display: none;
}

#bt_camisa:checked ~ #galeria .cabeca,
#bt_camisa:checked ~ #galeria .bota{
    display: none;
}

#bt_bota:checked ~ #galeria .cabeca,
#bt_bota:checked ~ #galeria .camisa{
    display: none;
}