/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #F6F8FF;
    
    /* 
    #23CE6B - Emerald
    #272D2D - Charleston Green
    #F6F8FF - Ghost White
    #A846A0 - Byzantine
    #50514F - Davys Grey
    */
}
body{background: #F6F8FF;}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*Sections*/
#menu-buttons-main{
    background-color: #272D2D;
    color: #F6F8FF;
}
#card-filtro-galeria-main{
    text-align: center;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90vw;
    background: #23CE6B;
}
#contato-main{
    height: fit-content;
    background: #A846A0;
    /*background-image: url("src/img3.png");*/
}
#filtro-galeria-main{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    text-align: center;
    background-color: #23CE6B;
}

/*Menu*/
.menu{
    background-color: #272D2D;
    color: #F6F8FF;
    display: flex;
    justify-content: space-between; /* Alinhamento Horizontal */
    align-items: center; /* Alinhamento Vertical */
    padding: 0 20px;
    height: 80px;
}
.menu > ul{
    width: 300px;
    display: flex;
    list-style-type: none; 
    justify-content: center;
    align-items: center;
}
.menu > ul > li{padding: 10px 20px;}
.logo img{width: 40px;}
i:hover{
    cursor: pointer;
    color: #A846A0;
}

/*Menu buttons*/
.menu-button > ul{
    width: 500px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    list-style-type: none; 
    justify-content: center;
    align-items: center;
}
.menu-button > ul > li{
    padding: 10px 20px;
}

/*Diretório*/
.diretorio-texto{
    background-color: #50514F;
    display: flex;
    padding: 0 20%;
    margin: 0 auto;
    justify-content: left;
}

/*Slider*/
.slider{
    width: 800px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    margin: 15px auto;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{display: none;}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
    object-fit: cover;
}

/*manual navigation*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content:center;
}
.manual-btn{
    border: 2px solid #272D2D;
    padding: 5px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){margin-right: 40px;}
.manual-btn:hover{background: #272D2D;}
#radio1:checked ~ .first{margin-left: 0;}
#radio2:checked ~ .first{margin-left: -20%;}
#radio3:checked ~ .first{margin-left: -40%;}
#radio4:checked ~ .first{margin-left: -60%;}

/*automatic navigation*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #272D2D;
    padding: 5px;
    border-radius: 1rem;
    transition: 1s;
}
.navigation-auto div:not(:last-child){margin-right: 40px;}
#radio1:checked ~ .navigation-auto .auto-btn1{background: #272D2D;}
#radio2:checked ~ .navigation-auto .auto-btn2{background: #272D2D;}
#radio3:checked ~ .navigation-auto .auto-btn3{background: #272D2D;}
#radio4:checked ~ .navigation-auto .auto-btn4{background: #272D2D;}

/*Cards*/
.cards {
    display: flex;
    height: fit-content;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 250px;
    height: 250px;

    margin: 10px 10px;
    background: #272D2D;
    text-align: center;
}
.contact-box{
    width: 300px;
    background: #F6F8FF;
    margin-left: 300px;
}
.container-contact{
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    padding: 100px 0 0 0; 
}
.container-contact i{
    color: #A846A0;
    font-size: 50px;
}
.container-contact p{
    margin: 10px auto;
    width: 150px;
    font-size: 18px;
    color: #272D2D;
}
.container-contact input{
    display: inline-block;
    width: 200px;
    padding: 10px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #272D2D;
    background-color: #272D2D;
    color: #F6F8FF;
}
.container-contact input:focus{
    outline: none;
}
.container-contact button{
    display: inline-block;
    margin: 0 0 0 -10px;
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #272D2D;
    border-left: none;
    background-color: #272D2D;
    color: #A846A0;
    cursor: pointer;
}

/*Footer*/
footer{
    margin-top: 10px;
    padding: 50px 0;
    text-align: center;
    background-color: #272D2D;
    color: #F6F8FF;
}
.color{
    border: solid 1px #F6F8FF;
    width: 32px;
    height: 16px;
    display: inline-block;
}
.color-1{background-color: #23CE6B ;}
.color-2{background-color: #272D2D ;}
.color-3{background-color: #F6F8FF ;}
.color-4{background-color: #A846A0 ;}
.color-5{background-color: #50514F ;}

/*PAGE 2 - GALERIA*/
#filtro-galeria-main label{
    width: 200px;
    padding: 20px 0;
    display: inline-block;
    margin: 10px auto;
    background-color: #272D2D;
    color: #F6F8FF;
    text-align: center;
    cursor: pointer;
}
#filtro-galeria-main input{
    display: none;
}
#filtro-galeria-main input:checked + label{
    background-color: #A846A0;
}
#galeria{
    margin: 0 auto;
}
#galeria img{
    text-align: left;
    display: inline-flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    padding: 0;
    object-fit: cover;
}
#bt_chapeu:checked ~ #galeria .camisa,
#bt_chapeu:checked ~ #galeria .bota{display: none;}
#bt_camisa:checked ~ #galeria .cabeca,
#bt_camisa:checked ~ #galeria .bota{display: none;}
#bt_bota:checked ~ #galeria .cabeca,
#bt_bota:checked ~ #galeria .camisa{display: none;}