body{
    align-items: center;
    text-align: center;
}

.slider{
    margin: 50px auto;
}

.image-box img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}

.btn:hover{
    background: transparent
}